@import "../../styles/default.scss";

.box__result {
  height: auto;
  padding: 35px 70px 35px 50px;
  background: $bg-grey;

  @include mediaMin($breakpoint-small) {
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--title {
    font-size: 1rem;
    line-height: 2;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    color: $secondary;
    border-bottom: 2px solid $opsecondary;
    animation: moving 500ms ease-in;
  }

  &--text {
    margin: 14px 0;
    color: $blue;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.1;
    font-weight: 300;
    animation: moving 500ms ease-in;

    @include mediaMin($breakpoint-small) {
      &:first-of-type {
        margin: 26px 0 10px;
      }
    }

    strong {
      font-weight: 700;
      white-space: nowrap;
    }
  }
}

@include moving
