.box__result {
  height: 100%;
  padding: 35px;
  background: rgba(209, 220, 227, 0.18); }

@media screen and (min-width: 578px) {
  .box__result {
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    justify-content: center; } }

.box__result--title {
  font-size: 1rem;
  line-height: 2;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  color: #3D75BB;
  border-bottom: 2px solid rgba(93, 156, 236, 0.3); }

.box__result--text {
  margin: 14px 0;
  color: #5D9CEC;
  font-style: italic;
  font-size: 1rem;
  font-weight: 300; }

@media screen and (min-width: 578px) {
  .box__result--text:first-of-type {
    margin: 40px 0 10px; } }

.box__result--text strong {
  font-weight: 700; }
