@import "../../styles/default.scss";

.box__form {
  padding: 40px 70px 40px 50px;

  &--title {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4;
    color: $primary;
    animation: moving 500ms ease-in;
  }

  &--subtitle {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5;
    color: $primary;
  }

  &--form {
    animation: moving 500ms ease-in;
    fieldset {
      margin-top: 22px;
    }

    label,
    input {
      display: block;
    }

    label,
    dt {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.5;
      color: $primary;
      margin-bottom: 6px;
    }

    dt {
      cursor: pointer;
      transition: all 200ms ease;

      &::after {
        content: "↓";
        font-size: 1rem;
        color: $primary;
        margin-left: 10px;
      }

      + dd {
        display: none;
        animation: moving 200ms forwards;
      }
      
      &:hover {
        color: $active;
        
        &::after {
          color: $active;
        }
      }

      &.active{
        color: $active;

        &::after {
          content: "↑";
          color: $active;
        }

        + dd {
          display: block;
          animation: moving 200ms ease-in;
        }
      }
    }

    input {
      width: 100%;
      max-width: 251px;
      height: 37px;
      border-radius: $radius;
      border: 1px solid $border;
      padding: 0 14px;
      font-size: 0.875rem;
      color: $black;
      transition: border 100ms all;

      &:active,
      &:focus {
        outline: $active;
        border: 1px solid $active;
      }

      &.mdr {
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none !important;
          margin: 0 !important;
          -moz-appearance: textfield !important;
        }
      }

      &.error {
        border: 1px solid red;
        color: red;
      }
    }

    small {
      margin-top: 5px;
      font-size: 0.687rem;
      line-height: 0.7rem;
      font-weight: 700;
      color: $grey;
      display: block;

      &.error {
        display: block;
        color: red;
        font-weight: normal;
        animation: movingMin 100ms ease-in;
      }
    }
  }

  &--checkfield {
    display: flex;

    label {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      white-space: nowrap;
      margin-right: 0.45em;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.5;
      color: $primary;

      input {
        margin-right: 0.2em;
        width: 0.8rem;
        height: auto;
        display: inline;
        border-radius: $radius;
        border: 1px solid $border;
        @include mediaMin($breakpoint-small) {
          margin-right: 0.3em;
        }
      }
    }
  }
}

@include moving;
@include movingMin;
