@charset "UTF-8";
.box__form {
  padding: 40px 70px 40px 50px; }

.box__form--title {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.4;
  color: #656565;
  animation: moving 500ms ease-in; }

.box__form--subtitle {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #656565; }

.box__form--form {
  animation: moving 500ms ease-in; }

.box__form--form fieldset {
  margin-top: 22px; }

.box__form--form label,
.box__form--form input {
  display: block; }

.box__form--form label,
.box__form--form dt {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #656565;
  margin-bottom: 6px; }

.box__form--form dt {
  cursor: pointer;
  transition: all 200ms ease; }

.box__form--form dt::after {
  content: "↓";
  font-size: 1rem;
  color: #656565;
  margin-left: 10px; }

.box__form--form dt + dd {
  display: none;
  animation: moving 200ms forwards; }

.box__form--form dt:hover {
  color: #66AFE9; }

.box__form--form dt:hover::after {
  color: #66AFE9; }

.box__form--form dt.active {
  color: #66AFE9; }

.box__form--form dt.active::after {
  content: "↑";
  color: #66AFE9; }

.box__form--form dt.active + dd {
  display: block;
  animation: moving 200ms ease-in; }

.box__form--form input {
  width: 100%;
  max-width: 251px;
  height: 37px;
  border-radius: 4px;
  border: 1px solid #DDE6E9;
  padding: 0 14px;
  font-size: 0.875rem;
  color: #000;
  transition: border 100ms all; }

.box__form--form input:active, .box__form--form input:focus {
  outline: #66AFE9;
  border: 1px solid #66AFE9; }

.box__form--form input.mdr::-webkit-inner-spin-button, .box__form--form input.mdr::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance: textfield !important; }

.box__form--form input.error {
  border: 1px solid red;
  color: red; }

.box__form--form small {
  margin-top: 5px;
  font-size: 0.687rem;
  line-height: 0.7rem;
  font-weight: 700;
  color: #CECECE;
  display: block; }

.box__form--form small.error {
  display: block;
  color: red;
  font-weight: normal;
  animation: movingMin 100ms ease-in; }

.box__form--checkfield {
  display: flex; }

.box__form--checkfield label {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  white-space: nowrap;
  margin-right: 0.45em;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #656565; }

.box__form--checkfield label input {
  margin-right: 0.2em;
  width: 0.8rem;
  height: auto;
  display: inline;
  border-radius: 4px;
  border: 1px solid #DDE6E9; }

@media screen and (min-width: 578px) {
  .box__form--checkfield label input {
    margin-right: 0.3em; } }

@keyframes moving {
  from {
    transform: translateY(20px); }
  to {
    transform: translateY(0px); } }

@keyframes movingMin {
  from {
    transform: translateY(5px); }
  to {
    transform: translateY(0px); } }
