@mixin mediaMin($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin mediaMax($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin moving {
  @keyframes moving {
    from {
      transform: translateY(20px);
    }
    to {
      transform: translateY(0px);
    }
  }
}

@mixin movingMin {
  @keyframes movingMin {
    from {
      transform: translateY(5px);
    }
    to {
      transform: translateY(0px);
    }
  }
}
@mixin bounce {
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1px);
    }
  }
}

@mixin loading {
  @keyframes loading1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes loading3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes loading2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
}
