@mixin mediaMin($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin mediaMax($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin moving {
  @keyframes moving {
    from {
      transform: translateY(20px);
    }
    to {
      transform: translateY(0px);
    }
  }
}

@mixin movingMin {
  @keyframes movingMin {
    from {
      transform: translateY(5px);
    }
    to {
      transform: translateY(0px);
    }
  }
}