/* autoprefixer grid: autoplace */
.box {
  width: 100%;
  max-width: 388px;
  height: auto;
  border: 1px solid #DDE6E9;
  border-radius: 4px;
  display: grid;
  background: #fff;
  grid-template-columns: 1fr; }

@media screen and (min-width: 578px) {
  .box {
    max-width: 708px;
    box-shadow: 6px 9px 22px -2px rgba(0, 0, 0, 0.1);
    grid-template-columns: 2fr 1.3fr;
    width: 668px;
    max-height: 780px; } }
