/* autoprefixer grid: autoplace */
@import "../../styles/default.scss";

.box {
  width: 100%;
  height: auto;
  border: 1px solid $border;
  border-radius: $radius;
  display: grid;
  background: $white;
  grid-template-columns: 1fr;
  
  @include mediaMin($breakpoint-small) {
    max-width: 708px;
    box-shadow: 6px 9px 22px -2px $sombra;
    grid-template-columns: 2fr 1.2fr;
  }
}
