@import "../../styles/default.scss";

.box {
  width: 100%;
  max-width: 608px;
  height: auto;
  border: 1px solid $border;
  border-radius: $radius;
  display: grid;
  background: $white;
  grid-template-columns: 1fr;

  @include mediaMin($breakpoint-small) {
    box-shadow: 6px 9px 22px -2px rgba(0, 0, 0, 0.1);
    grid-template-columns: 2fr 1.1fr;
    max-height: 780px;
  }
}
